<% provide(:title, t(:about)) %>
<div class="row offset1">
	<h3 class="" style="text-align:left;">Bimby o quê!?</h3>
	<blockquote class="">
		<em>Bimbyfy stands for Bimby found you.</em>
		<small>Chris, Bimbyfy founder</small>
	</blockquote>
</div>

<div class="row offset1">
	<h2 class="pull-left" style="text-align:left;"><em>Descubra o mundo de receitas que pode fazer<!-- com os ingredientes da sua despensa-->.</em></h2>
</div>
	
<div class="row span10 offset1">
	<p>
		O <%= link_to "Bimby<span class='crd-fy'>fy</span>".html_safe, root_path, id: "logo", class: "brand" %> é uma ferramenta para pesquisa inteligente de receitas culinárias, inicialmente pensado para receitas da Bimby, não obstante, aberto para receber qualquer tipo de receitas através do registo.<!--
		O Bimbify é uma ferramenta de pesquisa inteligente de receitas para a Bimby.--> A principal funcionalidade é a busca de receitas por ingredientes, porém também é possível pesquisar receitas por nome, categoria, livro ou revista.<!--Assim, para que encontre facilmente a receita que procura e, ainda outras alternativas, o Bimbyfy estará constantemente a sincronizar seus conteúdos com os últimos lançamentos de livros e revistas oficiais da Bimby.-->
		O <i>site</i> adapta-se a qualquer ecrã, permitindo assim uma navegação simples e agradável, podendo ser utilizado como se tratasse de uma aplicação em um <i>tablet</i> ou <i>smartphone</i>.<br/>
		No sentido de <u>assegurar a proteção dos direitos de autor</u>, o modo de preparação das receitas não<!--apenas os ingredientes das receitas--> são publicados e as imagens são fornecidas por buscas no Google.<!-- O utilizador poderá consultar em que livro ou revista a receita está publicada encontrando-a rapidamente com a informação da página em que está a receita.--> O utilizador poderá consultar em que livro ou revista a receita está publicada com a informação da página em que esta se encontra.<br/>
	</p>
	<p>
		O Bimbyfy almeja ser o maior catálogo de receitas culinárias na internet, prestando um serviço de indexação das receitas dos melhores livros e revistas especializados e ainda, disponibilizando funcionalidades inovadoras assentes num robusto mecanismo de pesquisa.
		<!--O Bimbyfy quer ser a maior e mais fidedigna fonte de informação acerca de receitas culinárias em português na internet, prestando um serviço de catalogação das receitas dos melhores livros e revistas de culinária.--><br/>
	</p>
</div>

<div class="row offset1">
	<% if signed_in?%>
		<h2 class="pull-left"><em>Funcionalidades exclusivas.</em></h2>
	<%else%>
		<h2 class="pull-left"><em>Faça já o seu registo.</em></h2>
	
	<%end%>
</div>
<div class="span10 offset1">
	<p>
		Os utilizadores registados têm acesso às seguintes funcionalidades:
	</p>
	<ul>
		<li>Seleccionar os livros e revistas que possui para filtrar as pesquisas;</li>
		<li>Marcar receitas como favoritas;</li>
		<li>Inserir modo de preparação das receitas;</li>
		<li>Enviar ingredientes das receitas para lista de compras;</li>
		<li>Gerir lista de compras;</li>
		<li>Criar suas próprias receitas.</li>
	</ul>
	
	<% unless signed_in?%>
	<p>
		Clique <%= link_to "aqui", signup_path %> para criar sua conta.
		
	</p>
	<%end%>
</div>

<div class="row offset1">
	<h2 class="pull-left"><em>Gostei! Posso ajudar?</em></h2>
</div>
<div class="span10 offset1">
	<p>Sim! Poderá contribuir com doações para a manutenção do site.</p>
	<p>A Equipa do Bimbyfy agradece.</p>
	<%= render 'layouts/donate2' %>
	
</div>


<!--
<div class="row offset1">
	<h2 class="pull-left"><em>Seja nosso parceiro!</em></h2>
</div>

<div class="span10 offset1">
	<p>
		Se é editor de livros ou revistas culinárias, ou possui um blog com receitas originais e quer incluir as receitas no Bimbyfy poderá se tornar nosso parceiro. Envie-nos um <a href="mailto:admin@bimbyfy.com?Subject=Parceria" target="_top">email</a> para obter mais informações.
	</p>
</div>
-->
<!--
<div class="row span11 offset1">
</div>
-->
		<!--RETIRAR
		<p>No futuro, em parceria com a Vorwerk, almejamos que a sincronização das receitas seja efectuada em simultâneo com o lançamento de novos livros e revistas oficias da Bimby. E, para os utilizadores registados, permitir a consulta integral da receita e disponibilizar funcionalidade inovadoras.</p>-->

		<!-- COLOCAR ISSO NUM LINK DE PARCERIAS c/FORM p/ CONTACTO
		<p>Se possui um blog com receitas para Bimby de autoria própria e pretender que suas receitas estejam disponíveis nas buscas do Bimbyfy poderá ser nosso parceiro!</p>-->


		<!--NOTAS SOLTAS
		as seguintes funcionalidades: consulta integral da receita; criação de menus semanais e pesquisas avançadas (por calorias, por tempo de preparação ou ainda por rendimento da receita).-->
		<!--Para os utilizadores registados está disponível a criação de menus semanais onde poderão selecionar receitas para cada dia da semana, tendo sempre disponível a lista de ingredientes necessários para efectuar a compra semanal no supermercado.-->
