<% provide(:title, t(:partnership)) %>
<div class="row offset1">
	<h3 class="">Seja nosso Parceiro!</h3>
</div>
<div class="row">	
	<h2 class="text-right offset6 span6"><em>Inclua as suas receitas originais no Bimbyfy.</em></h2>
	<div class="span9 offset2">
		<p>
		Com as parcerias o Bimbyfy pretende expandir suas fontes. Se é um editor de livros e revistas de culinária e quer impulsionar as suas vendas então está no lugar certo. Inclua suas receitas no Bimbyfy!

		<!--Com as parcerias o Bimbyfy pretende expandir suas fontes para os blogues e não só. Se possui um blogue de receitas originais, se tem livros ou revistas publicados, ou se quer ver as receitas daquele seu caderninho que passa de geração à geração nas pesquisas do Bimbyfy, torne-se já nosso parceiro.<br/>
		Cada parceiro poderá publicar, gratuitamente, até 25 receitas originais no seu livro de receitas do Bimbyfy. Seleccione as suas melhores receitas!-->

		<!--As receitas deverão ser de conteúdo partilhado (modo de preparação disponível para consulta). O Bimbyfy fará publicidade aos parcerios colocando sempre um link para o blog ou site do parceiro.-->
		</p>
		<p>
		<p>Para se tornar nosso parceiro, preencha e envie o formulário abaixo. Ser-lhe-á enviado um email com informação acerca do procedimento de envio das receitas.</p>
		<%= render 'shared/feedback_form' %>
	</div>
</div>