<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @feedback.name %>,</p>
    <p>
      Obrigado pelo interesse demonstrado em tornar-se nosso parceiro.<br/>
      Para que suas receitas estejam disponíveis nas pesquisas do Bimbyfy, indicamos abaixo o procedimento a seguir.
    </p>

    <p><strong><u>Instruções para o envio das receitas</u></strong></p>
    <ol>
      <li>Os parceiros deverão enviar suas receitas num ficheiro de texto simples com as seguintes informações para cada receita:
        <ul>
          <li>Receita:</li>
          <ul>
            <li>Nome;</li><li>Rendimento;</li><li>Dificuldade;</li><li>Tempo de preparação;</li><li>Calorias *</li>
          </ul>
          <li>Ingredientes:</li>
          <li>Preparação:</li>
          <li>Dica: *</li>
        </ul>
        <small>* informação opcional.</small>
      </li>
  
      <li>Juntamente com o ficheiro o parceiro deverá informar o título do seu livro de receitas. Caso se trate de um blogue o título deverá corresponder à URL.</li>

      <li>Os parceiros deverão enviar um email para <a href="mailto:admin@bimbyfy.com?Subject=Nova%20parceria" target="_top">admin@bimbyfy.com</a> com a indicação do título do seu livro de receitas e anexar o ficheiro com as receitas</li>

      <li>O ficheiro deverá conter no mínimo 5 e no máximo 25 receitas. Apenas serão consideradas as 25 primeiras receitas do ficheiro.</li>

      <li>O Bimbyfy validará o ficheiro com as receitas do parceiro e irá inserir seus conteúdos na base de dados. Caso existam anomalias no ficheiro o parceiro será contactado.</li>

    </ol>


    <p><strong>Exemplo de um ficheiro com receitas</strong> (receitas.txt)</p>
    <div style="background-color:silver;padding:5px;">
      Receita:Limonada;6 Copos;1 Seg;FÁCIL;0<br/>
      Ingredientes:<br/>
      2 a 3 limões bem lavados cortados em quatros<br/>
      100 g açúcar ou o seu equivalente em adoçante<br/>
      1000 g água<br/>
      Preparação:<br/>
      Coloque no copo todos os ingredientes e prima...<br/>
      Introduza o cesto dentro do copo...<br/>
      Receita:Gelado de natas;8 PAX;6 Min;FÁCIL;0<br/>
      Ingredientes:<br/>
      100 g açúcar<br/>
      4 claras ovo<br/>
      1 pitada de sal<br/>
      400 g natas frescas, bem firas<br/>
      Preparação:<br/>
      No copo seco coloque o açúcar e...<br/>
      Coloque a "borboleta"...<br/>
      Dica:<br/>
      Para montas as natas frescas é necessário...<br/>
    </div>

    <p>Atentamente,<br/>
    A Equipa do Bimbyfy</p>

    <br/>
    <p><small>Esta mensagem foi enviada a partir de um endereço de e-mail destinado apenas a notificações e que não aceita a receção de e-mails.<br/>Não responda a esta mensagem.</small></p>

    <!--<p>Estaremos analisado seu contacto e brevemente enviaremos uma resposta.</p>-->
    <!--<p>Obrigado pelo interesse, tenha um bom dia!</p>-->
  </body>
</html>