<div class="hidden-phone" >
	<%= render 'layouts/ads4'%>

	<!--<div style="background-color: gray; widht:250px; height:250px;"><h2>Afiliados</h2></div>-->

	<!--<span class="span4"><small>Ajude a manter o Bimbyfy!</small></span>-->
  	<%= render 'layouts/donate' %>
</div>