<div class="hidden-phone">
	<%if Rails.env.production?%>
		<%= render 'layouts/ads1'  %>
	<%else%>
		<center>
			<div style="background-color: gray; width:728px; height:90px;"><h2>Afiliados</h2></div>
		</center>
	<%end%>
</div>
<br/>
