	<h3><em>Faça já o seu registo.</em></h3>
	<!--<hr class="featurette-divider">-->
	<p>
		Os utilizadores registados têm acesso às seguintes funcionalidades:
	</p>
	<ul>
		<li>Seleccionar os livros e revistas que possui para filtrar as pesquisas;</li>
		<li>Marcar receitas como favoritas;</li>
		<li>Inserir modo de preparação das receitas;</li>
		<li>Enviar ingredientes das receitas para lista de compras;</li>
		<li>Gerir lista de compras;</li>
		<li>Criar suas próprias receitas.</li>
	</ul>
	
	<%= link_to "Criar #{t(:sign_up)}!", signup_path, class: 'btn btn-large btn-danger' %>
	<%= link_to "Saber mais", about_path, class: 'btn ' %>
