<!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>
<!--<div style="background-color: gray; width:300px; height:20px;"><h2>g+btn</h2></div>-->
