<div class="visible-desktop">
	<!--LINK: http://www.webestools.com/ribbon-generator-web20-free-online-quickribbon-generator.html-->
	<script type="text/javascript" src="http://services.webestools.com/ribbons/ribbon.js?texte=1%C2%BA%20Anivers%C3%A1rio&lien=&color=%23FCFCFC&type=fixed&pos=right&size=20&font=arial&style=11"></script>
</div>
<!--<div class="visible-desktop" style="position:absolute;right:0px;margin-right:0%;margin-top:0px; background-color: gray; width:200px; height:200px;">
	<%=image_tag("news2.jpg")%>
		
</div>-->